<div class="home-container">
    <header>
      <div class="hero">
        <h1>Welcome to Click One Buy</h1>
        <p>Tiên phong chất lượng - Xu thế toàn cầu</p>
        <button>Get Started</button>
      </div>
    </header>
    <section>
      <div class="slider-container">
        <button class="prev" (click)="prevSlide()">❮</button>
        <div class="slider">
          <div class="slides" [style.transform]="'translateX(' + (-currentIndex * 100) + '%)'">
            <img *ngFor="let image of images" [src]="image" alt="Slide Image">
          </div>
        </div>
        <button class="next" (click)="nextSlide()">❯</button>
      </div>
      <div id="pinContainer">
        <section class="panel turqoise">Panel 1</section>
        <section class="panel green">Panel 2</section>
        <section class="panel bordeaux">Panel 3</section>
    </div>
      
      <!-- <div class="features">
        <div class="feature-card">
          <h3>Fast</h3>
          <p>Lightning-fast performance with Angular's powerful tools.</p>
        </div>
        <div class="feature-card">
          <h3>Scalable</h3>
          <p>Build scalable web applications for any size of audience.</p>
        </div>
        <div class="feature-card">
          <h3>Modern</h3>
          <p>Design modern, user-friendly interfaces effortlessly.</p>
        </div>
      </div> -->
    </section>
  </div>
 