<div class="container">
  <header>
    <div class="hero">
      <h1>Welcome to Click One Buy</h1>
      <p>Tiên phong chất lượng - Xu thế toàn cầu</p>
    </div>
  </header>
  <section class="main-section">
    <div class="side-panel left"> 
      <ul class="ads-list">
      <li class="ad-item">
        <img src="/assets/image/chup-san-pham.jpg" alt="Ad 1">
        <p>Ad Text 1</p>
      </li>
      <li class="ad-item">
        <img src="/assets/image/woman-holding-sushi-roll-with-chopsticks-scaled copy.jpg" alt="Ad 2">
        <p>Ad Text 2</p>
      </li>
      <li class="ad-item">
        <img src="/assets/image/0r4ltv3ag4i1712914224518.jpg" alt="Ad 3">
        <p>Ad Text 3</p>
      </li>
      <!-- Add more ad items here -->
    </ul></div>
  <div class="login-box">
      <h2>Login</h2>
      <form [formGroup]="loginForm" (ngSubmit)="loginWithEmail()">
        <div class="input-group">
          <label>Email</label>
          <input type="email" formControlName="email">
        </div>
        <div class="input-group">
          <label>Password</label>
          <input type="password" formControlName="password">
        </div>
        <div class="error-message" *ngIf="errorMessage">{{ errorMessage }}</div>
        <button type="submit">Login</button>
      </form>
      <div class="separator">OR</div>

      <button (click)="loginWithGoogle()" class="google-btn">
        <img src="/assets/image/google.png" alt="Google Logo" class="google-icon"> Login with Google
      </button>
    </div>
    <div class="side-panel right"></div>
  </section>
  <div class="side-panel ended"></div>
  </div>