.container {
  // background-image: url("/assets/image/background.jpg");
  
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-size: cover;
  background-position: center;
  padding: 20px;
  background-color: #afd4ec;
}
// .container::before{
//   background-image: url("/assets/image/background.jpg");
//   background-size: cover;
//   background-position: center;
//   background-attachment: fixed;
//   filter: grayscale(90%); /* Chuyển nền thành trắng đen */
//   z-index: -1; /* Đưa ảnh nền xuống dưới */
// }
.hero {
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: rgb(255, 251, 14);
  font-family: "Dancing Script", cursive; /* Chữ thư pháp */
  font-size: 24px;
}

h1 {
  font-size: 50px;
  font-weight: bold;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

p {
  font-size: 24px;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
}

.main-section {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  width: 100%;
}

.side-panel {
  width: 100%;
  background-color: #f0f0f0;
  padding: 10px;
  width: 10%;
  flex: 1;
}

.left {
  border-radius: 4%;
  margin-left: 10px;
  height: 400px;
  overflow-y: auto; /* Allow vertical scrolling */
}

.left::-webkit-scrollbar {
  display: none; /* Hides the scrollbar in Webkit browsers (Chrome, Safari) */
}

.right {
  height: 400px;
  border-radius: 4%;
  overflow-y: auto; /* Allow vertical scrolling */
  margin-right: 10px;
}

.right::-webkit-scrollbar {
  display: none; /* Hides the scrollbar in Webkit browsers (Chrome, Safari) */
}

.ended {
  width: 100%;
  border-radius: 4px;
  background-image: url("/assets/image/12270f80d3f516857d009eb21dfdc5d9.jpg");
  margin-top: 10px;
}

.ads-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.ad-item {
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.ad-item img {
  width: 100%; /* Make the image take up full width of the panel */
  max-width: 300px; /* Adjust as needed */
  height: auto;
  border-radius: 8px;
}

.ad-item p {
  text-align: center;
  margin-top: 10px;
  font-size: 14px;
}

.login-box {
  font-family: "Dancing Script", cursive; /* Chữ thư pháp */
  background: #8baabe;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  width: 400px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 20px;
}

.input-group {
  width: 100%;
  margin-bottom: 15px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.input-group label {
  font-weight: bold;
  margin-bottom: 5px;
}

.input-group input {
  width: 90%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.error-message {
  color: red;
  margin-bottom: 10px;
}

button {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: #007bff;
  color: rgb(22, 20, 20);
  font-size: 16px;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}

.separator {
  margin: 15px 0;
  font-weight: bold;
}

.google-btn {
  background-color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #ddd;
  padding: 10px;
  width: 100%;
  border-radius: 5px;
  cursor: pointer;
}

.google-btn:hover {
  background-color: #f4f4f4;
}

.google-icon {
  width: 20px;
  height: 20px;
  margin-right: 10px;
}